body {
    background-image: url(1684413233279.jpg);
    background-size:  100% 500px;
    background-repeat: no-repeat;
    color: white;
}



header{
    text-align: right;
    text-transform: uppercase;
}

.links {
  margin-top: -70px;
  cursor: pointer;
}
 .first{
      width: 100px;
      height: 100px;
      background-color: transparent;
      vertical-align: middle;
  }

  a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    margin-right: 20px;
    cursor: pointer;
 }


.one{
    text-align: center;
    font-size: 70px;
    margin-top: 250px;
    color: white;
}

p{
    /* text-align: center ; */
    margin-top: 120px;
    font-size: 40px;
    color: black;

}

ul{
    /* text-align: center; */
    font-size: 30px;
    color: black;
}

.imga {
    float: right;
    width: 500px;
    height: 450px;
    margin-top: -300px;
    margin-right: 100px;

}